<%- include("./partials/header.ejs") %>
    <div class="box">
        <div class="container">
            <div class="items">
                <h1 class="title">Notes App</h1>
                <div class="section">
                    <p>Welcome to the notes app</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <a href="/auth/google" class="btn btn-red"><i class="fa-brands fa-google"></i> LOG IN WITH GOOGLE</a>
                </div>
            </div>
        </div>
    </div>


<%- include("./partials/footer.ejs") %>
